@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600,700|Lato:400,400i,700&display=swap');

/*==========================================

	Colors

==========================================*/

html {
	--color-silver-light: #dcdbdf;
	--color-silver: #aaa9ad;
	--color-silver-dark: #7b7a7e;
	--color-magenta-light: #f34da0;
	--color-magenta: #ee0077;
	--color-magenta-dark: #be005f;
	--color-deepviolet-light: #725e7f;
	--color-deepviolet: #4f365f;
	--color-deepviolet-dark: #3f2b4c;
	--color-fucshia-light: #d133e5;
	--color-fucshia: #c600df;
	--color-fucshia-dark: #9e00b2;
	--color-lavender-light: #d0bef1;
	--color-lavender: #c4aeee;
	--color-lavender-dark: #9d8bbe;
	--color-salmon-light: #fb7a91;
	--color-salmon: #fa5976;
	--color-salmon-dark: #c8475e;
	--color-text-primary: #363245;
	--color-text-secondary: #605b70;
	--color-text-disabled: #918aaa;
}

/*=========================================

	Typography

==========================================*/

html {
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	font-size: var(--ratio);
	
	--font-primary: Lato, Arial, sans-serif;
	--font-secondary: Comfortaa, Arial, sans-serif;
	--font-third: Arial ,sans-serif;
	--ratio: 1.333;
	--size-xsmall: calc( 0.6rem * var(--ratio) );
	--size-small: calc( 0.8rem * var(--ratio) );
	--size-medium: calc( 1rem * var(--ratio) );
	--size-large: calc( var(--size-medium) * var(--ratio) );
	--size-xlarge: calc( var(--size-large) * var(--ratio) );
	--size-xxlarge: calc( var(--size-xlarge) * var(--ratio) );
	--margin-standard: 2.5rem auto; 
}

a {
	color: var(--color-deepviolet-dark);
}

h1 {
	color: var(--color-salmon);
	font-size: var(--size-xxlarge);
	
}

h2 {
	color: var(--color-salmon-dark);
	font-size: var(--size-xlarge);
	text-decoration: underline;
}

h3 {
	color: var(--color-magenta);
	font-size: var(--size-large);
}

h4 {
	color: var(--color-magenta-dark);
	font-size: var(--size-medium);
}

h5 {
	color: var(--color-fucshia);
	font-size: var(--size-small);
}

h6 {
	color: var(--color-fucshia-dark);
	font-size: var(--size-xsmall);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	line-height: 1.1;
	margin: 1.3rem;
}

.font-primary {
	font-family: var(--font-primary);
	font-size: 1.5rem;
}

.font-second {
	font-family: var(--font-secondary);
	font-size: 1.5rem;
}

.font-hierarchy {
	font-size: 1.5rem;
}

body {
	line-height: 1.5rem;
}

main {
	margin: var(--margin-standard);
	max-width: 37rem;
}

.featured-text {
	font-size: var(--size-large);
	padding: 1.5rem;
}

.tertiary-ex {
	font-size: var(--size-xsmall);
}

ul {
	list-style-position: inside;
	list-style-type: circle;
}

ul ul {
	list-style-type: disc;
}

ol {
	list-style-position: inside;
	list-style-type: upper-roman;
}

ol ol {
	list-style-type: lower-roman;
}

blockquote {
	border-left: 3px dotted var(--color-salmon-light);
	font-size: var(--size-medium);
	font-style: italic;
	padding-left: 1rem;
}
/*========================================

	Header Components

========================================*/

header {
	background-color: var(--color-deepviolet-light);
	padding: 1rem 1.5rem;
	border-bottom: 3px solid var(--color-fucshia);
}

header a {
	color: var(--color-silver-light);
	text-decoration: none;
}

header ul {
	list-style-type: none;
	padding: 0;
}

header li {
	border-bottom: 1px solid var(--color-magenta);
	margin-bottom: 1rem;
}

.logo {
	border-bottom: 3px dotted var(--color-salmon);
	color: var(--color-salmon);
	font-family: var(--font-secondary);
	font-size: var(--size-large);
}


/*=======================================

	Body Components

=======================================*/

body {
	background-color: var(--color-silver-light);
}

body p a {
	color: var(--color-fucshia);
	text-decoration: none;
}

body p a:visited {
	color: var(--color-deepviolet-dark);
}

body p a:hover {
	color: var(--color-magenta);
}

body p a:focus {
	background-color: var(--color-lavender);
	outline: none;
}

body p a:active {
	color: var(--color-salmon);
	text-decoration: underline;
}

/*========================================

	Footer Components

=========================================*/

footer {
	border-top: 1px solid var(--color-silver-dark);
}

footer p {
	font-size: var(--size-xsmall);
}

footer nav {
	font-size: var(--size-xsmall);
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer a {
	text-decoration: none;
}